$test-color: #333333;

.test {
	color:      $test-color;
	background: rgb(255, 255, 255);
}

.another-test {
	border-bottom: 1px solid $test-color;

	.child-test {
		border-top: 10px dotted $test-color;
	}
}
